_playground/unfold/data
_playground/add-name-property-to-mongodb/node_modules
_playground/map-moving-city/pseudo-routing/node_modules
_playground/get-attributes-from-streets/node_modules

08_add_neighborhood_information/node_modules
08_add_neighborhood_information/export/*.svg
08_add_neighborhood_information/data

09_generate_coils/data
09_generate_coils/export/*.json
09_generate_coils/export/*.svg
09_generate_coils/node_modules

generate_image_sequences/node_modules
generate_image_sequences/export/

datapreparation/.ipynb_checkpoints
datapreparation/logs
datapreparation/citydata