_playground/unfold/data
_playground/add-name-property-to-mongodb/node_modules
_playground/map-moving-city/pseudo-routing/node_modules
_playground/get-attributes-from-streets/node_modules
_playground/calculate-street-area/node_modules

08_add_neighborhoods/node_modules
08_add_neighborhoods/export/*.svg
08_add_neighborhoods/data

09_add_parking_space_size/node_modules
09_add_parking_space_size/export/*.svg
09_add_parking_space_size/data

10_calculate_area/node_modules

11_add_area/node_modules

12_generate_coils/data
12_generate_coils/export/*.json
12_generate_coils/export/*.svg
12_generate_coils/node_modules

generate_image_sequences/node_modules
generate_image_sequences/export/

datapreparation/.ipynb_checkpoints
datapreparation/logs
datapreparation/citydata

lib/parse-osm-units/node_modules
scripts/node_modules