_playground/add-name-property-to-mongodb/node_modules

_playground/map-moving-city/pseudo-routing/node_modules

_playground/get-attributes-from-streets/node_modules

_playground/add-neighborhood-information/node_modules

_playground/unfold/data

datapreparation/.ipynb_checkpoints

datapreparation/logs

datapreparation/citydata